:root {
/*Primary*/

--Light-red: hsl(356, 100%, 66%);
--Very-light-red: hsl(355, 100%, 74%);
--Very-dark-blue: hsl(208, 49%, 24%);

/*Neutral*/

--Grayish-blue: hsl(240, 5%, 88%);
--Very-dark-grayish-blue: hsl(207, 13%, 34%);
--Very-dark-blue2: hsl(240, 10%, 16%);

/*Gradient*/

/*Background gradient - Intro/CTA mobile nav:*/

--Very-light-red2: hsl(13, 100%, 72%);
--Light-red2: hsl(353, 100%, 62%);

/*Background gradient - body:*/

--Very-dark-gray-blue: hsl(237, 17%, 21%);
--Very-dark-desaturated: hsl(237, 23%, 32%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

header {
   width: 100%;
   height: 400px;
   background: linear-gradient(90deg, var(--Very-light-red2), var(--Light-red2));
   border-radius: 0px 0px 0px 80px;
   overflow: hidden;
 
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    background-image: url(/images/bg-pattern-intro.svg);
    background-size: 100%;
    background-position: right;
    align-items: center;
}

.navbar {
    display: flex;
    width: 100vw;
    padding: 10px;;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.container-drop {
    position: relative;
    display: flex;
    padding: 20px;
}

.container-drop.active .dropdown {
    display: block;
}

.container-drop .catego {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    height: 20px;
    width: 90px;
    text-decoration:none;
    cursor: pointer;   
}

.container-drop .catego.active {
    color: var(--Grayish-blue);
} 

.dropdown {
    width: 130px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 40px;
    display: none;
}

.dropdown a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--Very-dark-blue);
}

.access {
    margin: 10px;
    padding-left: 70px;
}

.access button {
    border-radius: 30px;
    padding: 10px;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    transition: 0.5s;
   
}

.access .a01 {
    color: white;
    background: none;
    border: none;
}

.access .a02 {
    color: var(--Light-red);
    background-color: white;
    border: none;
}
.access .a02:hover {
    color: white;
    background-color: var(--Very-light-red);
}

.menu-mobile {
    display: none;
}

.textintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px; 
}

.textintro > h1 {
    font-family: 'Overpass', sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
}

.textintro span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--Grayish-blue);
    margin-bottom: 30px;
}

.botoes {
    margin: 10px;
}

.botoes > button {
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    transition: 0.5s;
}

.botoes .b01 {
    color: var(--Light-red);
    background-color: white;
    border: none;
}

.botoes .b01:hover {
    color: white;
    background-color: var(--Very-light-red);
}

.botoes .b02 {
    color: white;
    background: none;
    border: 2px white solid;
}

.botoes .b02:hover {
    color: var(--Very-light-red);
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--Very-dark-blue);
    width: 100%;
    margin-top: 50px;
    height: auto;
    overflow: hidden;
}

main .titlemain {
    margin-bottom: 50px;
    text-align: center;
}



#s01 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.text01 {
    display: block;
    width: 40%;
    margin-left: 40px;
}

.desktopimg {
    width: 50%;
}

.desktopimg img {
    width: 90%;
    margin-left: 80px;
}

#s02 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#containers02 {
    display: flex;
    min-height: 350px;
    height: 400px;
    background: var(--Very-dark-desaturated);
    background-image: url(/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.phoneimg {
    width: 40%;  
}

.phoneimg img {
    width: 120%;
}

.text02 {
    display: block;
    color: white;
    width: 40%;
   
}

#s03 {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
}

.text03 {
    display: block;
    width: 40%;
}

.parag {
    color: var(--Very-dark-grayish-blue);
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.laptopimg {
    width: 50%;
}

.laptopimg img {
    width: 90%;
}

#tt {
    color: var(--Very-dark-blue);
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Overpass', sans-serif;
    font-size: 35px;

}

#tt2 {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Overpass', sans-serif;
    font-size: 35px;
}

footer {
    background: var(--Very-dark-blue2);
    border-radius: 0px 80px 0px 0px;
    display: flex;
    height: auto;
    margin-top: 30px;
}

footer .container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    
}

.end {
    font-weight: 600;
    padding-left: 20px;
    margin-left: 100px;
}

.end .subs {
    margin-top: 15px;
    color:var(--Grayish-blue);
    font-size: 14px;
}

@media (max-width: 800px) {
    #containers02{
        height: 280px;
    }

    #tt, #tt2 {
        font-size: 25px;
    }
    .parag, .parag2{
        font-size: 15px;
        padding-bottom: 15px;
    }
    .end {
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .menu-mobile {
        display: flex;
        cursor: pointer;
        padding: 10px;
    }
    .menu {
      display: none;
    }
    .menu.open {
        align-items: center;
        justify-content: center;
        display: flex;
        background: white;
        flex-direction: column;
        border-radius: 10px;
        width: 90vw;
        height: auto;
        position: absolute;
        top: 100px;
    }

    .container-drop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-drop .catego{
        text-align: center;
        color: var(--Very-dark-blue);
        background-image: url(/images/icon-arrow-dark.svg);
        background-repeat: no-repeat;
        background-position: right;
    }

    .dropdown {
        background: var(--Grayish-blue);
        border-radius: 8px;
        width: 250px;
        text-align: center;
        position: relative;
        margin: 5px;
    }
    .dropdown a:hover {
        background: var(--Very-dark-grayish-blue);
    }

    .access {
        padding-left: 0px;
    }

    .access > button {
        display: flex;
        flex-direction: column;
    }

    .access .a01 {
        color: var(--Very-dark-blue);
    }

    .access .a02 {
        background: var(--Light-red);
        color:white;
    }

    #s01 {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .titlemain {
        font-size: 25px;
    }

    .desktopimg img {
        margin-left: 0px;
        width: 100%;
    }
    .text01{
        width: 70%;
       
    }
    #containers02 {
        flex-direction: column;
        justify-content: center;
        height: 400px;
        padding-bottom: 350px;
        padding-top: 200px;
        border-radius: 0px 180px 0px 180px;
    }

    .phoneimg {
        width: 55%;  
    }
    .phoneimg img{
        padding-right: 30px;
        width: 130%;
    }

    #tt, #tt2 {
        font-size: 20px;
        text-align: center;
       
    }
    .parag, .parag2{
        font-size: 14px;
        padding-bottom: 20px;
        text-align: center;
    }
    .end .subs {
        font-size: 13px;
    }
    #s03 {
        flex-direction: column;
    }
    footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .end {
        padding-left: 0px;
        margin-left: 0px;
        padding-top: 20px;
    }
}
@media (max-width: 576px) {
    .textintro {
        text-align: center;
        font-size: 14px;
    }
   .botoes button {
       width: 100px;
       font-size: 12px;
   }
    .titlemain {
        font-size: 20px;
    }
  
    .text01, .text02, .text03 {
        width: 50%;
        margin-left: 0px;
    }
    .laptopimg img{
        width: 120%;
    }
}